In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('../data/iis_output.csv')
df = pd.DataFrame(data)

In [5]:
df.head(1)

,id,server_id,server_ip,log_date,log_time,site,client_ip,method,url,protocol,response_time,status_code,timestamp
0,1,EHR_UAT,10.130.0.27,2025-06-18,00:04:20,targetplanuat.rathi.com,10.130.0.27,GET,/,NaN,15,200,2025-06-18 16:51:03.567

In [7]:
df['Delay_Detected'] = (df['response_time']>4800).astype(int)
df.head(1)

,id,server_id,server_ip,log_date,log_time,site,client_ip,method,url,protocol,response_time,status_code,timestamp,Delay_Detected
0,1,EHR_UAT,10.130.0.27,2025-06-18,00:04:20,targetplanuat.rathi.com,10.130.0.27,GET,/,NaN,15,200,2025-06-18 16:51:03.567,0

In [8]:
df.drop(columns=['cs-uri-query', 'c-ip', 's-port', 'cs-username', 'cs(User-Agent)', 'cs(Referer)'], inplace=True)
df.head(1)

KeyError: "['cs-uri-query', 'c-ip', 's-port', 'cs-username', 'cs(User-Agent)', 'cs(Referer)'] not found in axis"

In [11]:
# Combine 'date' and 'time' into a single datetime column
# df['timestamp'] = pd.to_datetime(df['date'] + ' ' + df['time'], errors='coerce')

# Extract and convert to integer (use fillna to avoid float issues)
df['hour'] = df['timestamp'].dt.hour.fillna(0).astype(int)
df['minute'] = df['timestamp'].dt.minute.fillna(0).astype(int)
df['second'] = df['timestamp'].dt.second.fillna(0).astype(int)
df['day'] = df['timestamp'].dt.day.fillna(0).astype(int)
df['month'] = df['timestamp'].dt.month.fillna(0).astype(int)
df['day_of_week'] = df['timestamp'].dt.dayofweek.fillna(0).astype(int)
df['year'] = df['timestamp'].dt.year.fillna(0).astype(int)

AttributeError: Can only use .dt accessor with datetimelike values

In [7]:
df.head(1)

,date,time,s-ip,cs-method,cs-uri-stem,sc-status,sc-substatus,sc-win32-status,time-taken,Delay_Detected,datetime,hour,minute,second,day,month,day_of_week,year
0,2024-12-22,10:43:23,192.168.10.219,GET,/,403.0,14.0,0.0,1518.0,0,2024-12-22 10:43:23,10,43,23,22,12,6,2024

In [8]:
df['datetime'] = pd.to_datetime(df['date'] + ' ' + df['time'], errors='coerce')

In [9]:
df = df.sort_values(by='datetime')

In [10]:
# df.drop(columns=['date', 'time'], inplace=True)

In [11]:
df = df.reset_index(drop=True)

In [12]:
df.dropna(inplace=True)

In [13]:
df.head(5)

,date,time,s-ip,cs-method,cs-uri-stem,sc-status,sc-substatus,sc-win32-status,time-taken,Delay_Detected,datetime,hour,minute,second,day,month,day_of_week,year
0,2024-05-31,00:00:00,192.168.10.219,POST,/,200.0,0.0,0.0,4.0,0,2024-05-31 00:00:00,0,0,0,31,5,4,2024
1,2024-05-31,00:15:00,192.168.10.219,POST,/,200.0,0.0,0.0,0.0,0,2024-05-31 00:15:00,0,15,0,31,5,4,2024
2,2024-05-31,00:30:00,192.168.10.219,POST,/,200.0,0.0,0.0,0.0,0,2024-05-31 00:30:00,0,30,0,31,5,4,2024
3,2024-05-31,00:45:00,192.168.10.219,POST,/,200.0,0.0,0.0,0.0,0,2024-05-31 00:45:00,0,45,0,31,5,4,2024
4,2024-05-31,01:00:00,192.168.10.219,POST,/,200.0,0.0,0.0,15.0,0,2024-05-31 01:00:00,1,0,0,31,5,4,2024

In [14]:
# Assuming 'df' is your DataFrame
float64_cols = df.select_dtypes(include='float64').columns
df[float64_cols] = df[float64_cols].astype('float32')  # Convert float64 → float32

# Verify changes
print(df.dtypes)

date                       object
time                       object
s-ip                       object
cs-method                  object
cs-uri-stem                object
sc-status                 float32
sc-substatus              float32
sc-win32-status           float32
time-taken                float32
Delay_Detected              int32
datetime           datetime64[ns]
hour                        int32
minute                      int32
second                      int32
day                         int32
month                       int32
day_of_week                 int32
year                        int32
dtype: object

In [15]:
data_cpu = pd.read_csv('exported_data_cpu.csv')
df_cpu = pd.DataFrame(data_cpu)

In [16]:
df_cpu = df_cpu[['Date', 'CPU', 'RAM']]
df_cpu

                             Date  CPU  RAM
0         2024-12-19 15:56:22.167    1   24
1         2024-12-19 15:56:23.260    0   24
2         2024-12-19 15:56:24.260    0   24
3         2024-12-19 15:56:25.277    0   24
4         2024-12-19 15:56:26.277   10   23
...                           ...  ...  ...
10922679  2024-12-21 16:31:18.367    5    5
10922680  2024-12-21 16:31:10.407   13    8
10922681  2024-12-21 16:31:10.750   12    8
10922682  2024-12-21 16:31:13.713   27    6
10922683  2024-12-21 16:31:17.710    0    6

[10922684 rows x 3 columns]

In [17]:
# Ensure 'Date' column is in datetime format
df_cpu['Date'] = pd.to_datetime(df_cpu['Date'], errors='coerce')

# Sort the DataFrame by 'Date'
df_cpu = df_cpu.sort_values(by='Date')

In [18]:
df_cpu = df_cpu.reset_index(drop=True)

In [19]:
df_cpu.dropna(inplace=True)

In [20]:
df_cpu = df_cpu.rename(columns={'Date':'datetime'})
df_cpu.head(2)

                 datetime  CPU  RAM
0 2024-06-01 05:01:37.037   17    5
1 2024-06-01 05:01:39.657   15    5

In [21]:
# Assuming 'df_cpu' is your DataFrame
float64_cols = df_cpu.select_dtypes(include='float64').columns
df_cpu[float64_cols] = df_cpu[float64_cols].astype('float32')  # Convert float64 → float32

# Verify changes
print(df_cpu.dtypes)

datetime    datetime64[ns]
CPU                  int64
RAM                  int64
dtype: object

In [22]:
df.shape

(19086861, 18)

In [23]:
df_cpu.shape

(10922684, 3)

In [24]:
m = pd.merge_asof(df, df_cpu, on='datetime', direction='nearest')

In [25]:
(m['CPU'].isna().sum()/ len(m))*100

0.0

In [26]:
m['RAM'].isna().sum()

0

In [27]:
m[['CPU', 'RAM']] = m[['CPU', 'RAM']].ffill()
m.tail()

,date,time,s-ip,cs-method,cs-uri-stem,sc-status,sc-substatus,sc-win32-status,time-taken,Delay_Detected,datetime,hour,minute,second,day,month,day_of_week,year,CPU,RAM
19086856,2024-12-22,10:44:21,192.168.10.219,GET,/Content/Theme/fonts/fonts/fontawesome-webfont...,404.0,0.0,2.0,1.0,0,2024-12-22 10:44:21,10,44,21,22,12,6,2024,5,5
19086857,2024-12-22,10:44:21,192.168.10.219,GET,/Presentation/Odin9X/Frm_omnesys_integration.aspx,200.0,0.0,0.0,87.0,0,2024-12-22 10:44:21,10,44,21,22,12,6,2024,5,5
19086858,2024-12-22,10:45:20,192.168.10.219,POST,/Presentation/Odin9X/Frm_omnesys_integration.aspx,200.0,0.0,64.0,56905.0,1,2024-12-22 10:45:20,10,45,20,22,12,6,2024,5,5
19086859,2024-12-22,10:45:20,192.168.10.219,POST,/DefaultPage.aspx,0.0,0.0,64.0,54702.0,1,2024-12-22 10:45:20,10,45,20,22,12,6,2024,5,5
19086860,2024-12-22,10:45:20,192.168.10.219,GET,/Presentation/Odin9X/Allclientactivation.aspx,200.0,0.0,64.0,51783.0,1,2024-12-22 10:45:20,10,45,20,22,12,6,2024,5,5

In [28]:
merged_df = pd.DataFrame(m)

In [29]:
merged_df.columns

Index(['date', 'time', 's-ip', 'cs-method', 'cs-uri-stem', 'sc-status',
       'sc-substatus', 'sc-win32-status', 'time-taken', 'Delay_Detected',
       'datetime', 'hour', 'minute', 'second', 'day', 'month', 'day_of_week',
       'year', 'CPU', 'RAM'],
      dtype='object')

In [30]:
merged_df.head()

,date,time,s-ip,cs-method,cs-uri-stem,sc-status,sc-substatus,sc-win32-status,time-taken,Delay_Detected,datetime,hour,minute,second,day,month,day_of_week,year,CPU,RAM
0,2024-05-31,00:00:00,192.168.10.219,POST,/,200.0,0.0,0.0,4.0,0,2024-05-31 00:00:00,0,0,0,31,5,4,2024,17,5
1,2024-05-31,00:15:00,192.168.10.219,POST,/,200.0,0.0,0.0,0.0,0,2024-05-31 00:15:00,0,15,0,31,5,4,2024,17,5
2,2024-05-31,00:30:00,192.168.10.219,POST,/,200.0,0.0,0.0,0.0,0,2024-05-31 00:30:00,0,30,0,31,5,4,2024,17,5
3,2024-05-31,00:45:00,192.168.10.219,POST,/,200.0,0.0,0.0,0.0,0,2024-05-31 00:45:00,0,45,0,31,5,4,2024,17,5
4,2024-05-31,01:00:00,192.168.10.219,POST,/,200.0,0.0,0.0,15.0,0,2024-05-31 01:00:00,1,0,0,31,5,4,2024,17,5

In [31]:
merged_df.to_csv('MergedDF_192.168.10.219.csv', index=False)

In [32]:
len(merged_df)

19086861

In [33]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19086861 entries, 0 to 19086860
Data columns (total 20 columns):
 #   Column           Dtype
---  ------           -----
 0   date             object
 1   time             object
 2   s-ip             object
 3   cs-method        object
 4   cs-uri-stem      object
 5   sc-status        float32
 6   sc-substatus     float32
 7   sc-win32-status  float32
 8   time-taken       float32
 9   Delay_Detected   int32
 10  datetime         datetime64[ns]
 11  hour             int32
 12  minute           int32
 13  second           int32
 14  day              int32
 15  month            int32
 16  day_of_week      int32
 17  year             int32
 18  CPU              int64
 19  RAM              int64
dtypes: datetime64[ns](1), float32(4), int32(8), int64(2), object(5)
memory usage: 2.0+ GB

In [34]:
print(merged_df.shape)

(19086861, 20)

In [1]:
merged_df

NameError: name 'merged_df' is not defined